#errorCatcher Echo
## forecast sampler skin for weewx - Copyright 2014 Matthew Wall
## $Id: index.html.tmpl 1462 2016-03-12 22:55:59Z mwall $
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Forecast Sampler</title>
  <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}
h1 {
  font-size: 110%;
  font-weight: bold;
}
h2 {
  font-size: 100%;
  font-weight: bold;
}
.issued {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}
  </style>
</head>
<body>

<p>
This skin illustrates the use of data from the forecasting module.
</p>

#if $varExists('forecast')

<h1>Forecast Table</h1>
<p>
Display forecast data in a table format by including the forecast_table.inc
template.  Specify forecast_settings using Cheetah syntax, then include the
template.
</p>

#set global $forecast_settings = dict()
#set global $forecast_settings['num_periods'] = 300
#set global $forecast_settings['show_legend'] = 1
#set global $forecast_settings['show_hourly'] = 1
#set global $forecast_settings['show_day'] = 1
#set global $forecast_settings['show_date'] = 1
#set global $forecast_settings['show_outlook'] = 1
#set global $forecast_settings['show_temp'] = 1
#set global $forecast_settings['show_dewpoint'] = 1
#set global $forecast_settings['show_wind'] = 1
#set global $forecast_settings['show_tides'] = 1
#set global $forecast_settings['show_sun'] = 1
#set global $forecast_settings['show_moon'] = 1
#set global $forecast_settings['show_pop'] = 1
#set global $forecast_settings['show_precip'] = 1
#set global $forecast_settings['show_obvis'] = 1

#set global $forecast_settings['source'] = 'WU'
#include "forecast_table.inc"



<h1>Forecast Strip</h1>
<p>
Display forecast data in strip format by including the forecast_strip.inc
template.  Specify forecast_settings using Cheetah syntax, then include the
template.
</p>

#set global $forecast_settings['source'] = 'WU'
#include "forecast_strip.inc"



<h1>Periods from Selected Forecast Sources</h1>
<p>
This section illustrates how to display specific portions of a forecast, from
various forecast sources.
</p>

#set $sources = {'WU': 'Weather Underground', 'OWM': 'Open WeatherMap', 'NWS': 'US National Weather Service', 'UKMO': 'UK Met Office'}
#for $source in $sources
<h2>$sources{$source}</h2>
<p>
  #set $periods = $forecast.weather_periods($source, max_events=6)
  #if len($periods) > 0
    #set $wts = ''
    #set $wloc = ''
    #for $period in $periods
      #set $wts = $period.issued_ts
$period.event_ts $forecast.temp $forecast.label('Weather', $period.clouds)<br/>
    #end for
<br/><span class='issued'>Issued at $wts for $wloc</span>
  #else
<span class='issued'>No data for $source</span>
  #end if
</p>
#end for


<h1>Zambretti</h1>
<p>
#if $varExists('forecast.zambretti')
The forecast is $forecast.label('Zambretti', $forecast.zambretti.code)<br/>
<span class='issued'>Issued at $forecast.zambretti.issued_ts</span>
#else
The Zambretti forecast is not enabled.
#end if
</p>


<h1>Tides</h1>
<p>
#set $tides = $forecast.xtides
#if len($tides) > 0
  #for $tide in $tides
$tide.event_ts $tide.hilo $tide.offset<br/>
  #end for
#else
Tide forecast is not available.
#end if
</p>


<p>
<small>
forecast version: $forecast.version<br/>
</small>
</p>

#else

<p>The Forecast search list extension is not installed.</p>

#end if

</body>
</html>
